resources/schema/open_production.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="AbaConnectContainer">
      <element name="Task">
        <element name="Parameter">
          <element name="Application">
            <value>MadrasApi</value>
          </element>
          <element name="Id">
            <value>Document</value>
          </element>
          <element name="Version">
            <value>1.0</value>
          </element>
        </element>
        <element name="Transaction">
          <element name="DocumentData">
            <attribute name="command">
              <choice>
                <value>mdaDocAdd</value>
                <value>mdaDocAdd_Kleinauftrag</value>
              </choice>
            </attribute>
            <element name="artikel_nr">
              <data type="NCName"/>
            </element>
            <!-- FIXME: use a pattern here for validation -->
            <element name="priority">
              <data type="NCName"/>
            </element>
            <element name="deadline">
              <data type="date"/>
            </element>
            <ref name="title"/>
            <element name="process_status">
              <data type="NCName"/>
            </element>
            <element name="is_meta">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </element>
            <element name="mvl_only">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </element>
            <element name="MetaData">
              <element name="dc">
                <ref name="title"/>
                <optional>
                  <element name="creator">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="source">
                    <data type="NMTOKEN"/>
                  </element>
                </optional>
                <element name="language">
                  <choice>
                    <value>de</value>
                    <value>de-CH</value>
                    <value>en</value>
                    <value>fr</value>
                    <value>it</value>
                  </choice>
                </element>
                <element name="date">
                  <data type="date"/>
                </element>
              </element>
              <element name="sbs">
                <element name="idVorstufe">
                  <data type="token"/>
                </element>
                <!-- FIXME: use a pattern here for validation -->
                <element name="printPageNumber">
                  <data type="integer"/>
                </element>
                <element name="idPrint">
                  <data type="integer"/>
                </element>
                <element name="kostenstelle">
                  <data type="integer"/>
                </element>
                <optional>
                  <element name="ort">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="anrede">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="plz">
                    <data type="integer"/>
                  </element>
                </optional>
                <optional>
                  <element name="strasse">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="vorname">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="idZeitkurz">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="nachname">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="jahr">
                    <text/>
                  </element>
                </optional>
              </element>
              <element name="ncc">
                <optional>
                  <element name="sourcePublisher">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="sourceDate">
                    <data type="token"/>
                  </element>
                </optional>
                <zeroOrMore>
                  <element name="narrator">
                    <data type="token"/>
                  </element>
                </zeroOrMore>
                <element name="setInfo">
                  <data type="positiveInteger"/>
                </element>
                <element name="revisionDate">
                  <data type="date"/>
                </element>
              </element>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <text/>
    </element>
  </define>
</grammar>
