resources/schema/recorded_production.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="AbaConnectContainer">
      <element name="Task">
        <element name="Parameter">
          <element name="Application">
            <value>MadrasApi</value>
          </element>
          <element name="Id">
            <value>Document</value>
          </element>
          <element name="Version">
            <value>1.0</value>
          </element>
        </element>
        <element name="Transaction">
          <element name="DocumentData">
            <attribute name="command">
              <value>mdaDocModify</value>
            </attribute>
            <element name="artikel_nr">
              <data type="NCName"/>
            </element>
            <interleave>
              <ref name="identifier"/>
              <element name="deadline">
                <data type="date"/>
              </element>
              <element name="priority">
                <data type="NCName"/>
              </element>
            </interleave>
            <ref name="title"/>
            <interleave>
              <element name="old_process_status">
                <data type="NCName"/>
              </element>
              <element name="process_status">
                <value>Recorded</value>
              </element>
            </interleave>
            <element name="MetaData">
              <element name="dc">
                <ref name="title"/>
                <optional>
                  <element name="creator">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="source">
                    <data type="NMTOKEN"/>
                  </element>
                </optional>
                <element name="language">
                  <data type="NCName"/>
                </element>
                <ref name="identifier"/>
                <element name="date">
                  <data type="date"/>
                </element>
              </element>
              <element name="sbs">
                <optional>
                  <element name="idVorstufe">
                    <text/>
                  </element>
                </optional>
                <element name="printPageNumber">
                  <data type="integer"/>
                </element>
                <optional>
                  <element name="idMaster">
                    <data type="NCName"/>
                  </element>
                </optional>
                <element name="idPrint">
                  <data type="integer"/>
                </element>
                <element name="kostenstelle">
                  <data type="integer"/>
                </element>
                <optional>
                  <element name="ort">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="anrede">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="plz">
                    <data type="integer"/>
                  </element>
                </optional>
                <optional>
                  <element name="strasse">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="vorname">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="idZeitkurz">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="nachname">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="jahr">
                    <data type="integer"/>
                  </element>
                </optional>
              </element>
              <element name="ncc">
                <element name="sourcePublisher">
                  <text/>
                </element>
                <element name="sourceDate">
                  <text/>
                </element>
                <element name="narrator">
                  <text/>
                </element>
                <element name="setInfo">
                  <data type="integer"/>
                </element>
                <element name="revisionDate">
                  <data type="date"/>
                </element>
              </element>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="identifier">
    <element name="identifier">
      <data type="NCName"/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <text/>
    </element>
  </define>
</grammar>
