resources/schema/vubis_export.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="collection">
      <oneOrMore>
        <element name="record">
          <element name="leader">
            <text/>
          </element>
          <oneOrMore>
            <element name="controlfield">
              <attribute name="tag">
                <data type="integer"/>
              </attribute>
              <text/>
            </element>
          </oneOrMore>
          <oneOrMore>
            <element name="datafield">
              <optional>
                <attribute name="ind1"/>
              </optional>
              <optional>
                <attribute name="ind2"/>
              </optional>
              <attribute name="tag">
                <data type="integer"/>
              </attribute>
              <oneOrMore>
                <element name="subfield">
                  <attribute name="code">
                    <data type="NMTOKEN"/>
                  </attribute>
                  <text/>
                </element>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
